/*
 * CLASS ORDER: [ BLOCK ] [ COMPOSITION ] [ UTILITY ]
 *
 * - BLOCK is a skeletal component or organisational structure.
 * - COMPOSITION is to create flexible, component-agnostic LAYOUT systems that support as many
 *   variants of content as possible.
 * - UTILITY is a CSS class that does one job and does that one job well.
 */

:root {
    --ON: initial;
    --OFF: ;

    --light: var(--ON);
    --dark: var(--OFF);

    --color-primary: var(--light, #7f00ff) var(--dark, #c182ff);

    --color-mono-00: var(--light, #ffffff) var(--dark, #111111);
    --color-mono-01: var(--light, #fafafa) var(--dark, #141414);
    --color-mono-02: var(--light, #f5f5f5) var(--dark, #171717);
    --color-mono-03: var(--light, #e5e5e5) var(--dark, #262626);
    --color-mono-04: var(--light, #d4d4d4) var(--dark, #404040);
    --color-mono-05: var(--light, #a3a3a3) var(--dark, #525252);
    --color-mono-06: var(--light, #737373) var(--dark, #737373);
    --color-mono-07: var(--light, #525252) var(--dark, #a3a3a3);
    --color-mono-08: var(--light, #404040) var(--dark, #d4d4d4);
    --color-mono-09: var(--light, #262626) var(--dark, #e5e5e5);
    --color-mono-10: var(--light, #171717) var(--dark, #f5f5f5);
    --color-mono-11: var(--light, #111111) var(--dark, #fafafa);

    --color-fg: var(--color-mono-11);
    --color-bg: var(--color-mono-00);

    --spacing: 0.25rem;

    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    --text-xxs: 0.5rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;

    --font-sans: system-ui, sans-serif;
    --font-serif: "Times New Roman", Times, serif;
    --font-mono: monospace;

    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: calc(infinity * 1px);

    --transition-duration-sm: 150ms;
    --transition-duration-md: 250ms;
    --transition-duration-lg: 350ms;
}

@media (prefers-color-scheme: dark) {
    :root {
        --light: var(--OFF);
        --dark: var(--ON);
    }
}

/* == RESET == */

/* References: https://joshwcomeau.com/css/custom-css-reset */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

html {
    /* Enable the browser's inflation algorithm */
    -webkit-text-size-adjust: 100%;
    /* Prevent unwanted layout shifting caused by scrollbar */
    scrollbar-gutter: stable;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
    /* Add accessible line-height */
    line-height: 1.5;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* == GLOBAL == */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-mono-03) transparent;
}

body {
    font-family: var(--font-sans);
    font-size: var(--text-base);
    color: var(--color-fg);
    background-color: var(--color-bg);
    max-width: 48rem;
    margin: 0 auto;
    padding: calc(var(--spacing) * 8) clamp(var(--spacing) * 4, 5%, var(--spacing) * 6);
}

body > :not(:first-child) {
    margin-top: calc(var(--spacing) * 10);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: radial-gradient(var(--color-mono-05) 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-position: 0 0;
}

main {
    min-height: calc(100vh
        - 27px                    /* <header>'s height */
        - var(--spacing) * 8 * 2  /* <body>'s padding */
        - var(--spacing) * 10 * 2 /* <main>'s and <footer>'s margin-top */
        - 92px                    /* <footer>'s height */
    )
}

h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-extrabold);
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
}

h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 4);
    border-bottom: 1px solid var(--color-mono-04);
}

h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    margin-bottom: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 2);
    border-bottom: 1px solid var(--color-mono-04);
}

small {
    font-size: var(--text-sm);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
@media (hover: hover) {
    a:hover {
        text-decoration-line: underline;
        text-decoration-color: var(--color-primary);
        text-decoration-style: solid;
        text-decoration-thickness: calc(var(--spacing) * 0.5);
        text-underline-offset: calc(var(--spacing) * 1.25);
    }
}
a[href^="http"]::after {
    --anchor-icon-color: var(--color-primary);
    --anchor-icon-size: 0.75em;
    --anchor-icon-spacing: calc(var(--spacing) * 0.5);

    content: "";
    display: inline-block;
    width: var(--anchor-icon-size);
    height: var(--anchor-icon-size);
    vertical-align: middle;
    margin-left: var(--anchor-icon-spacing);
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 15.477-.02-9.672a.802.802 0 0 0-.218-.577c-.145-.152-.34-.228-.587-.228H8.499a.751.751 0 0 0-.777.76c0 .199.076.371.227.517.15.145.326.218.525.218h3.733l4.52-.129-1.728 1.54-9.767 9.783a.692.692 0 0 0-.232.518c0 .205.078.387.235.545a.74.74 0 0 0 .542.237.73.73 0 0 0 .527-.224l9.775-9.78 1.544-1.727-.143 4.188v4.065c0 .199.075.376.225.531.15.155.327.232.531.232.202 0 .38-.076.534-.228a.768.768 0 0 0 .23-.569Z' fill='%23000'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: var(--anchor-icon-color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
a[href^="http"][data-anchor="none"]::after {
    display: none;
}

h1 a, h2 a, h3 a {
    color: var(--color-fg);
    text-decoration: none;
}
@media (hover: hover) {
    h1 a:hover, h2 a:hover, h3 a:hover {
        text-decoration: none;
    }
}
h1 a::before,
h2 a::before,
h3 a::before {
    content: "#";
    position: absolute;
    opacity: 0;
    transform: translate3d(calc(-100% - var(--spacing) * 1), 0, 0);
    color: var(--color-mono-05);
    transition-property: opacity;
    transition-timing-function: ease;
    transition-duration: var(--transition-duration-sm);
}
h1:hover a::before,
h2:hover a::before,
h3:hover a::before {
    opacity: 1;
}

code:not(pre code) {
    font-family: var(--font-mono);
    font-size: var(--text-xs);
    color: var(--light, #463e00) var(--dark, #f3ea6c);
    background-color: var(--light, #f9ffbf) var(--dark, #423200);
    padding: calc(var(--spacing) * 0.25) calc(var(--spacing) * 0.5);
    border-radius: var(--radius-xs);
}

b, strong {
    font-weight: var(--font-weight-bold);
}

footer {
    font-size: var(--text-sm);
    color: var(--color-mono-08);
}

/* == COMPOSITION == */

.flow-x {
    --flow-x-spacing: calc(var(--spacing) * 4);
}
.flow-x > :not(:first-child) {
    margin-left: var(--flow-x-spacing);
}

.flow-y {
    --flow-y-spacing: calc(var(--spacing) * 4);
}
.flow-y > :not(:first-child) {
    margin-top: var(--flow-y-spacing);
}

.grid {
    --grid-column-min-width: 15ch;
    --grid-gap: 1rem;

    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--grid-column-min-width)), 1fr));
}

.flex {
    --flex-gap: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    --flex-justify-content: normal;
    --flex-align-items: normal;
    --flex-direction: row;
    --flex-wrap: nowrap;

    display: flex;
    gap: var(--flex-gap);
    justify-content: var(--flex-justify-content);
    align-items: var(--flex-align-items);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
}

/* == UTILITY == */

.color-mono-06 {
    color: var(--color-mono-06);
}
.color-mono-07 {
    color: var(--color-mono-07);
}

.mt-0 {
    margin-top: 0;
}
.mt-2 {
    margin-top: calc(var(--spacing) * 2);
}

.pl-2 {
    padding-left: calc(var(--spacing) * 2);
}

.top-0 {
    top: 0;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.text-center {
    text-align: center;
}

/* == BLOCK & EXCEPTION == */

.navbar {
    --flex-wrap: wrap;
}
.navbar > .navbar__logo {
    display: inline-block;
    vertical-align: middle;
}
.navbar > .navbar__link {
    text-shadow: var(--light, 0 0 20px #ffffff) var(--dark, 0 0 20px #ffffff);
}

.navbar-content {
    --flow-y-spacing: calc(var(--spacing) * 8);
}

.tab {
    --tab-border-width: 1px;
    --tab-border: var(--tab-border-width) solid var(--color-mono-04);
    --tab-border-radius: var(--radius-sm);
    --tab-top-spacing: 0px;
    --tab-color: var(--color-fg);
    --tab-background-color: var(--light, var(--color-mono-01)) var(--dark, var(--color-mono-02));

    --tab-name-font-size: var(--text-sm);
    --tab-name-font-family: var(--font-sans);
    --tab-name-block-padding: calc(var(--spacing) * 1.5);
    --tab-name-inline-padding: calc(var(--spacing) * 2);
    --tab-name-color: var(--tab-color);
    --tab-name-background-color: var(--tab-background-color);
    --tab-name-active-background-color: var(--color-mono-03);

    --tab-panel-font-size: var(--text-base);
    --tab-panel-font-family: var(--font-sans);
    --tab-panel-block-padding: calc(var(--spacing) * 3);
    --tab-panel-inline-padding: calc(var(--spacing) * 3);
    --tab-panel-color: var(--tab-color);
    --tab-panel-background-color: var(--tab-background-color);
    --tab-panel-overflow: visible;

    position: relative;
    margin-top: calc(
        var(--tab-name-font-size) * 1.5 +  /* 1.5 is global line height */
        var(--tab-name-block-padding) * 2 +
        var(--tab-border-width) +
        var(--tab-top-spacing)
    );
}
.tab > .tab__name {
    position: absolute;
    top: 0;
    transform: translate3d(var(--tab-name-x, 0), -100%, 0);
    display: inline-block;
    font-size: var(--tab-name-font-size);
    font-family: var(--tab-name-font-family);
    color: var(--tab-name-color);
    background-color: var(--tab-name-background-color);
    border: var(--tab-border);
    border-bottom: none;
    border-right: none;
    padding: var(--tab-name-block-padding) var(--tab-name-inline-padding);
}
.tab > .tab__name:first-of-type {
    border-top-left-radius: var(--tab-border-radius);
}
.tab > .tab__name:last-of-type {
    border-top-right-radius: var(--tab-border-radius);
    border-right: var(--tab-border);
}
.tab > .tab__panel {
    overflow: var(--tab-panel-overflow);
    font-size: var(--tab-panel-font-size);
    font-family: var(--tab-panel-font-family);
    color: var(--tab-panel-color);
    background-color: var(--tab-panel-background-color);
    padding: var(--tab-panel-block-padding) var(--tab-panel-inline-padding);
    border: var(--tab-border);
    border-radius: var(--tab-border-radius);
}
.tab > .tab__name + .tab__panel {
    border-top-left-radius: 0;
}
.tab > input[name="tab-name"] {
    position: absolute;
    display: none;
}
.tab > input[name="tab-name"]:checked + .tab__name {
    background-color: var(--tab-name-active-background-color);
}
.tab > input[name="tab-name"]:checked + .tab__name + .tab__panel {
    display: block;
}
.tab > input[name="tab-name"] + .tab__name + .tab__panel {
    display: none;
}
.tab > input[name="tab-name"] + .tab__name {
    cursor: pointer;
}

.self-drawing {
    --self-drawing-stroke-color: var(--color-fg);
    --self-drawing-duration: 4s;
    --self-drawing-direction: normal;
    --self-drawing-iteration-count: 1;
    --self-drawing-fill-mode: forwards;
    --self-drawing-timing-function: linear;
}
.self-drawing path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke: var(--self-drawing-stroke-color);
    animation-name: self-drawing;
    animation-duration: var(--self-drawing-duration);
    animation-direction: var(--self-drawing-direction);
    animation-iteration-count: var(--self-drawing-iteration-count);
    animation-fill-mode: var(--self-drawing-fill-mode);
    animation-timing-function: var(--self-drawing-timing-function);
}
@keyframes self-drawing {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.section-list {
    --grid-column-min-width: calc(var(--spacing) * 70);
    --grid-gap: calc(var(--spacing) * 10)
}

.list-none {
    --flow-y-spacing: calc(var(--spacing) * 4);
    list-style: none;
    padding-left: 0;
}
