.writing p,
.writing ul,
.writing ol,
.writing .codeblock {
    margin-bottom: calc(var(--spacing) * 4);
}

.writing ul ul,
.writing ol ol,
.writing ul ol,
.writing ol ul {
    margin-bottom: 0;
}
.writing ul,
.writing ol {
    padding-left: calc(var(--spacing) * 6);
}

.writing ul.toc {
    padding-left: 0;
}
.writing ul.toc li {
    list-style: none;
}
.writing ul.toc a:not(:hover) {
    text-decoration-color: transparent;
}
